.banner_home {
  position: absolute;
  width: 1213px;
  height: 232px;
  left: 128px;
  top: 116px;
}

/* ============= First Line Form Booking =============*/
.title_form {
  /* Pilih Jadwal Penerbangan spesial di Tiketku! */
  position: absolute;
  right: 1px;
  width: 459px;
  height: 30px;

  /* Heading/20/Bold */

  font-family: "CustomFont";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.content_form {
  position: absolute;
  left: 30px;
  top: 60px;
  font-family: "CustomFont";
}

.frame_booking {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 0px;
  gap: 10px;

  position: absolute;
  width: 968px;
  height: 298px;
  left: 236px;
  top: 292px;

  background: #ffffff;
  border: 1px solid #d0d0d0;
  /* Shadow/High */

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.seat_class_box {
  position: absolute;
  left: 35px;
}

.button_search_booking {
  position: relative;
  left: 30px;
}

/* ============= Last Line Form Booking =============*/

/* ============= First Line Destinasi Favorit =============*/
.title_destinasi {
  position: absolute;
  width: 139px;
  height: 24px;
  left: 251px;
  top: 622px;

  /* Title/16/Bold */

  font-family: "CustomFont";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #000000;
}

.date_icon {
  margin-right: 10px;
}

.seat_class_icon {
  margin-left: 20px;
  margin-right: -20px;
}

.landing_icon {
  margin-left: 20px;
}

.kategori {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 817px;
  height: 48px;
  left: 251px;
  top: 662px;
}

.button_kategori {
  /* Frame 1 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 24px;
  gap: 8px;

  width: 126px;
  height: 48px;

  /* Primary/Purple/04

7126B5
*/
  background: #7126b5;
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.img_kategori {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.card-destination {
  position: absolute;
  top: 742px;
  left: 275px;
  width: 166.94px;
  height: 194px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-kategori {
  position: absolute;
  width: 166.94px;
  height: auto;
  left: 0px;
  top: 0px;

  /* Neutral/01

FFFFFF
*/
  background: #ffffff;
  /* Shadow/Low */

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.card-kategori2 {
  position: absolute;
  width: 166.94px;
  height: auto;
  left: 190px;
  top: 0px;

  background: #ffffff;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.card-kategori3 {
  position: absolute;
  width: 166.94px;
  height: auto;
  left: 380px;
  top: 0px;

  background: #ffffff;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.card-kategori4 {
  position: absolute;
  width: 166.94px;
  height: auto;
  left: 570px;
  top: 0px;

  background: #ffffff;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.card-kategori5 {
  position: absolute;
  width: 166.94px;
  height: auto;
  left: 760px;
  top: 0px;

  background: #ffffff;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.destination {
  /* Body/12/Medium */
  font-family: "CustomFont";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  /* or 150% */

  /* Neutral/05 */
  color: #151515;
}

.airline {
  font-family: "CustomFont";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
  /* identical to box height, or 140% */

  color: #7126b5;
}

.date {
  font-family: "CustomFont";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  /* identical to box height, or 200% */

  /* Neutral/05 */

  color: #151515;
}

.price {
  font-family: "CustomFont";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  /* Neutral/05 */

  color: #151515;
}

/* ============= Last Line Destinasi Favorit =============*/

.footer {
  position: absolute;
  top: 1010px;
  width: 1440px;
  left: 0px;
  right: 0px;
}

.modal_date {
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  width: 400;
  background-color: "background.paper";
  border: "2px solid #000";
  box-shadow: 24;
}
